html,
body {
  height: 99vh;
  display: relative;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-container {
  display: flex;
  min-width: 100%;
  height: auto;
  justify-content: flex-end;
  gap: 1em;
}

.header-item {
  margin-top: 1em;
}

.header-item4 {
  margin-top: 0.3em;
}

.header-item4 img {
  width: 3em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.input-container {
  display: relative;
  margin: 0 auto;
}

.searchbox {
  display: flex;
  padding: 1em;
}

.box-item {
}

.box-item1 {
}

.box-item2 {
}

.box-item3 {
}

.button {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.gap {
  display: flex;
  flex-grow: 2;
}

.footer-container {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-grow: 0.2;
  flex-wrap: wrap;
}

.footer-container a {
  color: #70757a;
}

.footer-item {
  display: flex;
  gap: 3em;
  margin: auto 0 auto 0;
}

.footer-item1 {
  padding: 20px;
}

.footer-item2 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

a:hover {
  text-decoration: underline;
}
