html {
  display: relative;
}

footer {
  display: flex;
}

.nav-container {
  /* display: flex; */
  /* justify-items: end; */
  display: grid;
  /* justify-items: end; */
  /* grid-gap: 1em; */
  grid-template-columns: repeat(4, 4em);
  grid-template-rows: 2em;
  justify-items: center;
  justify-content: end;
  /* overflow: hidden; */
}

.nav-item1 {
  margin-top: 1em;
}

.nav-item2 {
  margin-top: 1em;
}

.nav-item3 {
  margin-top: 1em;
}

.nav-item4 {
  margin-top: 0.3em;
}

.nav-item4 img {
  max-height: 3em;
  width: auto;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-family: arial;
}

a:hover {
  text-decoration: underline;
}
