html {
  display: relative;
}

footer {
  display: flex;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.nav-container {
  display: flex;
  justify-items: end;
}

.nav-item1 {
  display: inline-block;
}

.nav-item2 {
  display: inline-block;
}

.nav-item3 {
  display: inline-block;
}

.nav-item4 {
  display: inline-block;
}
